footer {
	/* find better image transparent perferably */
	background-image: url(../../pastel-blue2.jpg);
}

/* change name and figure out what if does */
.flex {
	display: flex;	
}

.flexfooter {
	display: flex;
	justify-content: space-between;
	margin: 5%;
	margin-bottom: 0%;
	padding-right: 20px;
}
/* check why all the changes */
.parfooter {
	font-size: 16px;
	color: #363c3f;
	width: 50%;
	margin: 0 30% 15% 5%;
}

.words h3 {
	color: rgb(218, 56, 170);
}

.words h3:hover {
	text-decoration: underline solid rgb(218, 56, 170) 4px;
}
.socials {
	display: flex;
	flex-direction: row;
	justify-content: right;
	float: right;
	margin: 0%;
	margin-right: 5%;
}
.socials img {
	width: 80%;
}
