.flexContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
}

.navLink {
  text-decoration: none;
  color: #5f696f;
}
.navLink:hover {
  text-decoration: underline solid #5f696f 4px;
}
.navLink:active {
  text-decoration: underline solid #5f696f 4px;
}

h3 {
  color: #5f696f;
}
h3:hover {
  text-decoration: underline solid #5f696f 4px;
}

#shoppingIcon {
  font-size: 40px;
  color: #3de1b3;
}

